
body { 
		font-family: Cambria;
		font-size: 12px;
		background-color: #C0C0C0;	
}


.jobheader {
		font-style: oblique;
		text-decoration: underline;
		text-decoration-color: blue;
		font-size: 18px;
		background-color: #FF8300;

}

.jobrole {
		font-style: italic;
		font-size: 14px;
		background-color: #FFFF00;

}

.skillheader {
		font-style: italic;
		font-size: 14px;
		background-color: #0000FF;
}
h2{
	text-align: center;
	font-size: 20px;
	margin-left: 20%;
	margin-right: 20%;
}

img.image1 {
	order:1;
	max-height: 350px;
	max-width: 600px;
	align-items: center;
}
img.image2 {
	order: 2;
	max-height: 350px;
	max-width: 600px;
	align-items: center;
}

p{
	text-align: left;
	margin-left: 2%;
	margin-right: 2%;
}
h1{
	text-align: center;
	font-size: 18px;
	font-style: italic;
}

.biography{
	margin-left: 30%;
	margin-right: 30%;
}
.container{
	display: flex;
}

.link{
	order:3;
}